*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: #262626;
}
/* sidebar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    border-right:2px solid rgba(255,255,255, 0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    user-select: none;

}
.accCont{
    background-color: rgba(255, 255, 255,0.1);
    width: 100%;
    height: 120px;
}
.acc{
    width: 90px;
    height: 120px;

}
.imgCon{
    position: absolute;
    top:0;
    left: 90px;
    padding-top: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.imgCon:hover{
    box-shadow: 8px 10px 10px #262626;
    cursor: pointer;
}
.imgCon img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.nameUser{
    position: absolute;
    top:70px;
    left: 85px;
    padding-top:0.8em;
    font-size: 20px;
    color: #FFFAFA;
    cursor: pointer;
}
.nameUser:hover{
    color: red;
}

.list{
    margin-top: 10px;
    padding: 6px 14px;
}
.listItems{
    width: 100%;
    height: 50px;
    margin: 5px 0;
    line-height: 50px;
}
.listItems>a{
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #FFFAFA;
    border-radius: 6px;
    white-space:nowrap;
    cursor: pointer;
}
.listItems a:hover{
    background-color: rgba(255,255,255, 0.2);
    transition: 0.3s;
}

/* Шапка */
.head{
    margin-left: 260px;
    height: 70px;
    background-color: rgba(255, 255, 255,0.1);
}
.padding{
    padding: 10px 20px;
}
.w-100{
    display: flex;
    width: 100%;
}
.logo{
    font-size: 40px;
    color: #FFFAFA;
    user-select: none;
}
.toggleNavBtn{
    opacity: 0;
    pointer-events: none;
}
.right{
    margin-left: auto;
}

/* main */
.main-cont{
    margin-left: 260px;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.blocker{
    display: none;
}
.card-cont{
    width: 200px;
    height: 300px;
    border: 2px solid rgba(255,255,255, 0.1);
    border-radius: 15px;
    background-color: #07000028;
    margin: 20px 5px;
    cursor: pointer;
    user-select: none;
}
.card-cont img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 200px;
    height: 200px;
}
.card-cont div{
    width: 200px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.card-cont span{
    color: #FFFAFA;
    font-size: 28px;
}
.card-cont:hover{
    transition: 0.5s;
    transform: perspective(300px) rotateY(10deg);
    border: 2px solid rgba(255, 255, 255, 0.584);
}


/* phone */
@media (max-width: 990px){  
    .sidebar{
        display: none;
        border-right: none;
        box-shadow: none;
    }
    .sidebar.active{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 260px;
        height: 100%;
        border-right:2px solid rgba(255,255,255, 0.1);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
        background-color: #262626;
    }
    .listItems>a{
        display: flex;
        padding-left: 0.5rem;
        align-items: center;
        font-size: 20px;
        color: #FFFAFA;
        border-radius: 6px;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
    }
    .sidebar.active a{
        opacity: 1;
        transition: 0.1s;
        pointer-events:visible;
    }

    /* Шапка */
    .head{
        width: 100%;
        height: 70px;
        background-color: rgba(255, 255, 255,0.1);
        transition: 0.3s;
        margin-left: 0;
    }
    .head.active{
        margin-left: 260px;
        width: 100%;
        height: 70px;
        background-color: rgba(255, 255, 255,0.1);
        transition: 0.3s;
    }
    .padding{
        padding: 10px 10px;
    }
    .w-100{
        display: flex;
        width: 100%;
    }
    .left{
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    .logo{
        font-size: 40px;
        color: #FFFAFA;
    }
    /* .left{
        padding: 16px 12px;
        border-radius: 50%;
    } */
    .toggleNavBtn{
        padding: 16px 12px;
        border-radius: 50%;
        width: 26px;
        background: transparent;
        border: transparent;
        cursor: pointer;
        opacity: 1;
        pointer-events:all;
    }
    .toggleNavBtn:hover{
        background-color: #262626;
        transition: 0.5s;
        cursor: pointer;
    }
    .toggleNavBtn .pl1{
        display: block;
        width: 100%;
        height: 2px;
        background: #FFFAFA;
        position: relative;
    }
    .toggleNavBtn .pl2{
        display: block;
        width: 100%;
        height: 2px;
        background: #FFFAFA;
        position: relative;
        margin-top: 6px;
    }
    .toggleNavBtn .pl3{
        display: block;
        width: 100%;
        height: 2px;
        background: #FFFAFA;
        position: relative;
        margin-top: 6px;
    }
    .right{
        margin-left: auto;
    }

    .main-cont{
        margin-left: 0;
        width: 100%;
        height: 100%;
    }
    .main-cont.active{
        width: 100%;
        height: 100%;
    }
    .blocker.active{
        margin-left: 260px;
        display: block;
        opacity: 0.5;
        background-color: black;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
}