
/* 2.Игра! */
.mainCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    
}

.contChet {
    font-size: 40px;
    color: aliceblue;
}

/* .cont {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
} */

the-field {
    width: 310px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.checkCont {
    margin-top: 10px;
    color: #FFFAFA;
    font-size: 30px;
}

.contBtn {
    margin-top: 40px;
}

.btnRest {
    background-color: #FFFAFA;
    color: #262626;
    font-weight: 700;
    font-size: 30px;
    border: solid 3px;
    border-radius: 6px;
    cursor: pointer;
}

@media(max-width:680px) {
    #field.two {
        display: flex;
        flex-wrap: wrap;
        width: 445px;
        margin-top: 30px;
        gap: 5px;
        background-color: #FFFAFA;
        margin-bottom: 20px;
    }

    .gameFieldTwo {
        width: 70px;
        height: 70px;
        cursor: pointer;
        font-size: 55px;
        color: #FFFAFA;
        background-color: #262626;
    }
}

@media(max-width:480px) {
    #field.two {
        display: flex;
        flex-wrap: wrap;
        width: 355px;
        margin-top: 30px;
        gap: 5px;
        background-color: #FFFAFA;
        margin-bottom: 20px;
    }

    .gameFieldTwo {
        width: 55px;
        height: 55px;
        cursor: pointer;
        font-size: 42.5px;
        color: #FFFAFA;
        background-color: #262626;
    }
}