/* 2.Игра! */
.mainCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.nameMenu{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    font-size: 50px; 
    color: #FFFAFA;   
}
.containerCardsChoice {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.choiceField{
    width: 250px;
    height: 250px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 20px 5px;
    align-items: center;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.9);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    border-radius: 20px;
    user-select: none;
}
.choiceField>p{
    font-size: 60px;
    color: #FFFAFA;
}
.choiceField:hover{
    p{
        color: green;
        transition: 0.3s;
        transform: scale(1.1);
    }
    transition: 0.3s;
    transform: scale(1.1);
}











/* why ????? */

@media(max-width:680px) {
    #field.two {
        display: flex;
        flex-wrap: wrap;
        width: 445px;
        margin-top: 30px;
        gap: 5px;
        background-color: #FFFAFA;
        margin-bottom: 20px;
    }

    .gameFieldTwo {
        width: 70px;
        height: 70px;
        cursor: pointer;
        font-size: 55px;
        color: #FFFAFA;
        background-color: #262626;
    }
}

@media(max-width:480px) {
    #field.two {
        display: flex;
        flex-wrap: wrap;
        width: 355px;
        margin-top: 30px;
        gap: 5px;
        background-color: #FFFAFA;
        margin-bottom: 20px;
    }

    .gameFieldTwo {
        width: 55px;
        height: 55px;
        cursor: pointer;
        font-size: 42.5px;
        color: #FFFAFA;
        background-color: #262626;
    }
}