* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    background-color: #262626;
}

#root {
    display: grid;
    grid-template-areas: 
    "sidebar head"
    "sidebar content";
    grid-template-rows: 100px 1fr ;
    grid-template-columns: 260px 1fr;
}

#head {
    grid-area: head;
}
#logoText {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255,255,255, 0.1); */
    color: #FFFAFA;
    font-size: 50px;
    user-select: none;
    cursor: pointer;
    height: 100px;
}

#sidebar {
    grid-area: sidebar;
    /* border-right: #FFFAFA solid 1px; */
}
.sidebar-cont{
    margin-top: 20px;
    margin-left: 16px;
    
}
.active{
    font-weight: bold;
    background-color: rgba(255,255,255, 0.2);
}
.sidebar-cont>a{
    font-size: 28px;
    color: #FFFAFA;
    border-radius: 6px;
    display: block;
    padding: 10px;
    user-select: none;
}
.sidebar-cont a:hover{
    background-color: rgba(255,255,255, 0.2);
    font-weight: bold;
    transition: 0.2s;
}

#content {
    grid-area: content;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    height: 100%;
}
input{
    display: block;
    height: 60px;
    font-size: 40px;
    margin-bottom: 16px;
}
