* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    /* background-color: #262626; */
    /* background-color: #272727;  */
    background-color: #1f1f1f;
}

#root {
    display: grid;
    grid-template-areas: 
    "head       head"
    "sidebar content";
    grid-template-rows: 80px 1fr ;
    grid-template-columns: 260px 1fr;
}

#head {
    grid-area: head;
    background-color: #252525;
    border-bottom: 0.5px solid #2c2c2c;
    display: flex;

}
#left-cont{
    width: 50%;
    margin-left: 16px;
    background-color: #252525;
}
#right-cont{
    width: 50%;
    margin-right: 16px;
    background-color: #252525;
    display: flex;
    justify-content: end;
}
.header-cont{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
}
.header-cont a {
    background-color: #252525;
    color: #FFFAFA;
    font-size: 20px;
}

#sidebar {
    grid-area: sidebar;
    /* border-right: #FFFAFA solid 1px; */
}
.sidebar-cont{
    margin-top: 20px;
    margin-left: 16px;
    
}
.active{
    font-weight: bold;
    background-color: rgba(255,255,255, 0.2);
}
.sidebar-cont>a{
    font-size: 28px;
    color: #FFFAFA;
    border-radius: 6px;
    display: block;
    padding: 10px;
    user-select: none;
}
/* .sidebar-cont a:hover{
    background-color: rgba(255,255,255, 0.2);
    font-weight: bold;
    transition: 0.2s;
} */

#content {
    grid-area: content;
    padding: 20px 0px;
    /* display: flex; */
    /* justify-content: center; */
    height: 100%;
}
#signin-signup{
    border: #2c2c2c 0.5px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}
input{
    margin: 8px;
    color: #FFFAFA;
    padding: 4px;
    display: block;
    font-size: 30px;
    margin-bottom: 16px;
}
