*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: #262626;
}
/* sidebar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: rgba(255, 255, 255, 0.1); */
    width: 260px;
    height: 100%;
    border-right:2px solid rgba(255,255,255, 0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    padding: 6px 14px;
    transition: 0.5s;
}
.sidebar.active{
    width: 0;
    border-right: none;
    box-shadow: none;
}
.logoMenu{
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
}
.logo{
    font-size: 40px;
    color: #FFFAFA;
    pointer-events: none;
}
.sidebar.active .logo{
    opacity: 0;
    transition: 0.2s;
}
.toggleBtn{
    position: absolute;
    left: 90%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    color: #FFFAFA;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.list{
    margin-top: 10px;
}
.listItems{
    width: 100%;
    height: 50px;
    margin: 5px 0;
    line-height: 50px;
}
.listItems>a{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #FFFAFA;
    border-radius: 6px;
    white-space:nowrap;
}
.sidebar.active a{
    opacity: 0;
    transition: 0.2s;
    pointer-events: none;
}
.listItems.active a:hover{
    background-color: rgba(255,255,255, 0.2);
    transition: 0.3s;
}

/* head */
.head{
    margin-left: 288px;
    width: 100%;
    height: 90px;
    background-color: rgba(255, 255, 255,0.1);
    transition: 0.5s;
}
.head.active{
    margin: 0;
}


/* phone */
@media (max-width: 540px){  
    .sidebar{
        width: 0;
        border-right: none;
        box-shadow: none;
        margin-top: 20px;
    }
    .sidebar.active{
        position: fixed;
        top: 0;
        left: 0;
        /* background-color: rgba(255, 255, 255, 0.1); */
        width: 260px;
        height: 100%;
        border-right:2px solid rgba(255,255,255, 0.1);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
        padding: 6px 14px;
        transition: 0.5s;
        margin-top: 20px;
    }
    .logo{
        font-size: 40px;
        color: #FFFAFA;
        pointer-events: none;
        opacity: 0;
    }
    .sidebar.active .logo{
        opacity: 1;
        transition: 0.2s;
    }
    .listItems>a{
        display: flex;
        align-items: center;
        font-size: 20px;
        color: #FFFAFA;
        border-radius: 6px;
        white-space:nowrap;
        opacity: 0;
        pointer-events: none;
    }
    .sidebar.active a{
        opacity: 1;
        transition: 0.2s;
        pointer-events:visible;
    }

    .head{
        margin:0;
        width: 100%;
        height: 110px;
        background-color: rgba(255, 255, 255,0.1);
        transition: 0.5s;
    }
    .head.active{
        margin-left: 288px;
        width: 100%;
        height: 110px;
        background-color: rgba(255, 255, 255,0.1);
        transition: 0.5s;
    }
}